@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

:root {
    --font-family: 'Science Gothic', sans-serif;
}

html, body {
    overflow: hidden;
    background: #000;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.colors-container {
    width: calc(100vw - 20rem);
    height: 100vh;
    cursor: move;

    @media (max-width: 48rem) {
        width: 100vw;
        height: 40vh;
    }
}
  