html, body {
    overflow: hidden;
    background: #000;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
.colors-container {
    width: 100vw;
    height: 80vh;
    min-height: calc(100vh - 7.5rem);
    cursor: move;
}

@media (max-width: 48rem) {
    .colors-container {
        height: auto;
        min-height: calc(100vh - 9rem);
        max-height: calc(100vh - 9rem);
    }
}
  